name: Create GitHub Release

on:
  push:
    branches: [ main ]
    tags: [ "v*" ]
  workflow_dispatch:

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 
      
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: |
            rpm-package
            deb-package

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            *.rpm
            *.deb